---
fullnameOverride: rss-feeds-refresh-cronjob
image:
  repository: curlimages/curl
  tag: 7.73.0

resources:
  limits:
    memory: "100Mi"
    cpu: "1"
  requests:
    memory: "10Mi"
    cpu: "10m"

args: [ "--fail", "--location", "--silent", "--show-error", "--request", "PUT", "{{ .Values.rss_feeds.api.url }}/refreshFeeds" ]
schedule: "00 * * * *"
concurrency: 1
concurrencyPolicy: Replace
backoffLimit: 2
activeDeadlineSeconds: 10